# Flight Price Prediction Dataset

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
#from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Import KEYS module
from selenium.webdriver.common.keys import Keys

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import WebDriverException
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException

#Importing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r'C:/Users/Lenovo-PC/Downloads/chromedriver_win32/chromedriver - Copy.exe')
driver.maximize_window()
time.sleep(3)

In [3]:
# Creating lists to extract details
airline_name=[]
dateofjourney=[]
source=[]
destination=[]
departuretime=[]
arrivaltime=[]
duration=[]
totalstops=[]
price=[]

In [12]:
# Defining function to extract flight details
def flight_details() :
    
    doj=driver.find_element_by_xpath('//*[@id="flight_depart_date_0"][@class="fs-16 bold ellipsis full-width cursor-pointer"]')
    
    # Airline names
    try:
        aname=driver.find_elements_by_xpath('//*[@class="flightItem border-shadow pr"]/div/div[2]/div[1]/div/div[2]/span')
        for a in aname :
            an=a.text
            airline_name.append(an)
            dateofjourney.append(doj.get_attribute('value'))
    except:
        airline_name.append('-')
        dateofjourney.append(doj.get_attribute('value'))

    # Source
    try:
        src=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[1]/div/div[1]/p')
        for c in src :
            sr=c.text
            source.append(sr)
    except:
        source.append('-')
        
    # Destination
    try:
        dest=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[1]/div/div[3]/p[2]')
        for d in dest :
            ds=d.text
            destination.append(ds)
    except:
        destination.append('-')
        
    # Departure Time
    try:
        dtime=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
        for e in dtime :
            dt=e.text
            departuretime.append(dt)
    except:
        departuretime.append('-')
        
    # Arrival Time
    try:
        atime=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
        for f in atime :
            at=f.text.split('\n')[0]
            arrivaltime.append(at)
    except:
        arrivaltime.append('-')
        
    # Duration    
    try:
        dura=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[2]/div/p')
        for g in dura :
            dr=g.text
            duration.append(dr)
    except:
        duration.append('-')
        
    # Total Stops
    try:
        totstop=driver.find_elements_by_xpath('//div/div[2]/div[2]/div/div/div/div/div[2]/div/div/span')
        for h in totstop :
            ts=h.text
            totalstops.append(ts)
    except:
        totalstops.append('-')
        
    # Price
    try:
        prc=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in prc :
            pr=p.text
            price.append(pr)
    except:
        price.append('-')

In [27]:
# Extracting flight URL details 
airports=['DEL', 'BOM', 'HYD', 'CCU', 'BLR', 'MAA']
months=[3,4,5]

for i in airports:
    for j in airports:
        if i==j:
            continue
        else:
            for m in months:
                for k in range(1,32,2):
                    try:
                        print(i,j,m,k)
                        URL='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination={}&destinationCountry=IN&flexi=0&flight_depart_date={}%2F{}%2F2022&hb=0&noOfSegments=1&origin={}&originCountry=IN&type=O&unique=1209279725490&version=1.1&viewName=normal'.format(j,k,m,i)
                        driver.get(URL)
                        time.sleep(30)
                        print('Page loaded')
                    
                        # 500 time we scroll down by 1000 in order to generate more cars on the website
                        for l in range(500):
                            driver.execute_script("window.scrollBy(0,1000)")
                        print('scroll done')
                        time.sleep(10)
                    
                        # Function calling
                        flight_details()
                        print('Function executed for {} {} {}'.format(i,j,k))
    
                    except StaleElementReferenceException:
                        print('Exception raised 1')
                            
                    except ElementClickInterceptedException:
                        print('Exception raised 2')
                
                    except ElementNotInteractableException:
                        print('Exception raised 3')
                    
                    finally:
                        if (len(airline_name)==len(dateofjourney)==len(source)==len(destination)==len(departuretime)==
                            len(arrivaltime)==len(duration)==len(totalstops)==len(price)) :
                            continue
                        else:
                            print('Length difference')
                            break
                break
            break
    break

BOM HYD 5 1
Page loaded
scroll done
BOM HYD 5 3
Page loaded
scroll done
Function executed for BOM HYD 3
BOM HYD 5 5
Page loaded
scroll done
Function executed for BOM HYD 5
BOM HYD 5 7
Page loaded
scroll done
Function executed for BOM HYD 7
BOM HYD 5 9
Page loaded
scroll done
Function executed for BOM HYD 9
BOM HYD 5 11
Page loaded
scroll done
Function executed for BOM HYD 11
BOM HYD 5 13
Page loaded
scroll done
Function executed for BOM HYD 13
BOM HYD 5 15
Page loaded
scroll done
Function executed for BOM HYD 15
BOM HYD 5 17
Page loaded
scroll done
Function executed for BOM HYD 17
BOM HYD 5 19
Page loaded
scroll done
Function executed for BOM HYD 19
BOM HYD 5 21
Page loaded
scroll done
Function executed for BOM HYD 21
BOM HYD 5 23
Page loaded
scroll done
Function executed for BOM HYD 23
BOM HYD 5 25
Page loaded
scroll done
BOM HYD 5 27
Page loaded
scroll done
Function executed for BOM HYD 27
BOM HYD 5 29
Page loaded
scroll done
Function executed for BOM HYD 29
BOM HYD 5 31
Page loaded
scroll done
Function executed for BOM HYD 31

In [28]:
# Printing lengths
print(len(airline_name),len(dateofjourney),len(source),len(destination),len(departuretime),len(arrivaltime),len(duration),
      len(totalstops),len(price))

1400 1400 1400 1400 1400 1400 1400 1400 1400

In [29]:
# Make dataframe
dset = pd.DataFrame({'Airline Name':airline_name, 'Date of Journey':dateofjourney, 'Source':source, 'Destination':destination,
                     'Departure Time':departuretime, 'Arrival Time':arrivaltime, 'Duration':duration,
                     'Total Stops':totalstops, 'Price':price})
dset

,Airline Name,Date of Journey,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Air India,01 May,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"2,476"
1,Air India,01 May,New Delhi,Mumbai,09:00,11:15,2h 15m,Non Stop,"2,476"
2,Air India,01 May,New Delhi,Mumbai,14:30,18:00,3h 30m,1 Stop,"2,476"
3,Air India,01 May,New Delhi,Mumbai,17:50,21:35,3h 45m,1 Stop,"2,476"
4,Air India,01 May,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"2,791"
...,...,...,...,...,...,...,...,...,...
1395,Air India,31 May,Mumbai,Hyderabad,16:40,06:50,14h 10m,1 Stop,"3,644"
1396,Air India,31 May,Mumbai,Hyderabad,09:30,06:50,21h 20m,1 Stop,"3,644"
1397,Air India,31 May,Mumbai,Hyderabad,06:05,06:50,24h 45m,1 Stop,"3,644"
1398,Go First,31 May,Mumbai,Hyderabad,05:50,14:05,8h 15m,1 Stop,"3,687"
1399,Air India,31 May,Mumbai,Hyderabad,05:25,09:50,4h 25m,1 Stop,"3,728"

In [30]:
# Loading DataFrame to Excel
dset.to_excel('C:/Users/Lenovo-PC/Desktop/Internship/Assignment_10_FlightPricePrediction/Flightprice_Dataset.xls')
dset.head()

,Airline Name,Date of Journey,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Air India,01 May,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"2,476"
1,Air India,01 May,New Delhi,Mumbai,09:00,11:15,2h 15m,Non Stop,"2,476"
2,Air India,01 May,New Delhi,Mumbai,14:30,18:00,3h 30m,1 Stop,"2,476"
3,Air India,01 May,New Delhi,Mumbai,17:50,21:35,3h 45m,1 Stop,"2,476"
4,Air India,01 May,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"2,791"